In [4]:
import sqlite3

In [5]:
# Connect to a SQLite database

connection = sqlite3.connect('example.db')
connection

In [6]:
cursor = connection.cursor()

In [7]:
## Create a table

cursor.execute('''
Create Table If Not Exists employees(
    id Integer PRIMARY KEY,
    name Text NOT NULL,
    age Integer,
    department Text
)
''')

## Commit the Changes
connection.commit()

In [9]:
cursor.execute('''
Select * from employees
'''    
)

In [10]:
# Insert the Data in SQLite Table

cursor.execute('''
Insert into employees(id, name, age, department)
values(1,"Harshvardhan",23,"Data Scientist")
''')

cursor.execute('''
Insert into employees(id, name, age, department)
values(2,"Yash",24,"Data Analyst")
''')

cursor.execute('''
Insert into employees(id, name, age, department)
values(3,"Diksha",21,"Finance")
''')

cursor.execute('''
Insert into employees(id, name, age, department)
values(4,"Vimal",23,"TCE")
''')

## Commit

connection.commit()

In [11]:
## Query the Data from Table

cursor.execute('Select * from employees')
rows = cursor.fetchall()

## Print the Queries data 

for i in rows:
    print(i)

(1, 'Harshvardhan', 23, 'Data Scientist')
(2, 'Yash', 24, 'Data Analyst')
(3, 'Diksha', 21, 'Finance')
(4, 'Vimal', 23, 'TCE')

In [12]:
## Update the data in the table
cursor.execute('''
update employees
set age=34
where name = "Yash" 
''')

connection.commit()

In [14]:
cursor.execute("Select * from employees")
rows = cursor.fetchall()

for i in rows:
    print(i)

(1, 'Harshvardhan', 23, 'Data Scientist')
(2, 'Yash', 34, 'Data Analyst')
(3, 'Diksha', 21, 'Finance')
(4, 'Vimal', 23, 'TCE')

In [15]:
## Delete the Data from the table

cursor.execute('''
delete from employees
where name="Vimal"
''')

connection.commit()

In [16]:
cursor.execute("Select * from employees")
rows = cursor.fetchall()

for i in rows:
    print(i)

(1, 'Harshvardhan', 23, 'Data Scientist')
(2, 'Yash', 34, 'Data Analyst')
(3, 'Diksha', 21, 'Finance')

In [17]:
connection.close()